In [55]:
import pandas as pd

In [56]:
df = pd.read_csv('survey_results_public.csv', index_col='ResponseId')
schema_df = pd.read_csv('survey_results_schema.csv', index_col='qname')

In [57]:
pd.set_option('display.max_columns', 48) # view num of columns
pd.set_option('display.max_rows', 48)

In [58]:
df
df.head() #gets the first 5 rows, fill in parameter for num of rows
# df.tail() #gets the last 5 rows, fill in paramater for num of rows

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [59]:
df.shape
# shape is an attribute, not a method. shows rows and cols

(83439, 47)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83439 entries, 1 to 83439
Data columns (total 47 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   MainBranch                    83439 non-null  object
 1   Employment                    83323 non-null  object
 2   Country                       83439 non-null  object
 3   US_State                      14920 non-null  object
 4   UK_Country                    4418 non-null   object
 5   EdLevel                       83126 non-null  object
 6   Age1stCode                    83243 non-null  object
 7   LearnCode                     82963 non-null  object
 8   YearsCode                     81641 non-null  object
 9   YearsCodePro                  61216 non-null  object
 10  DevType                       66484 non-null  object
 11  OrgSize                       60726 non-null  object
 12  Currency                      61080 non-null  object
 13  CompTotal                     47183 non-null  float64
 14  CompFreq                      52150 non-null  object
 15  LanguageHaveWorkedWith        82357 non-null  object
 16  LanguageWantToWorkWith        76821 non-null  object
 17  DatabaseHaveWorkedWith        69546 non-null  object
 18  DatabaseWantToWorkWith        58299 non-null  object
 19  PlatformHaveWorkedWith        52135 non-null  object
 20  PlatformWantToWorkWith        41619 non-null  object
 21  WebframeHaveWorkedWith        61707 non-null  object
 22  WebframeWantToWorkWith        52095 non-null  object
 23  MiscTechHaveWorkedWith        47055 non-null  object
 24  MiscTechWantToWorkWith        38021 non-null  object
 25  ToolsTechHaveWorkedWith       72537 non-null  object
 26  ToolsTechWantToWorkWith       65480 non-null  object
 27  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 28  NEWCollabToolsWantToWorkWith  73022 non-null  object
 29  OpSys                         83294 non-null  object
 30  NEWStuck                      83052 non-null  object
 31  NEWSOSites                    83171 non-null  object
 32  SOVisitFreq                   82413 non-null  object
 33  SOAccount                     82525 non-null  object
 34  SOPartFreq                    67553 non-null  object
 35  SOComm                        82319 non-null  object
 36  NEWOtherComms                 82828 non-null  object
 37  Age                           82407 non-null  object
 38  Gender                        82286 non-null  object
 39  Trans                         80678 non-null  object
 40  Sexuality                     73366 non-null  object
 41  Ethnicity                     79464 non-null  object
 42  Accessibility                 77603 non-null  object
 43  MentalHealth                  76920 non-null  object
 44  SurveyLength                  81711 non-null  object
 45  SurveyEase                    81948 non-null  object
 46  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), object(45)
memory usage: 30.6+ MB

In [61]:
schema_df

,qid,question,force_resp,type,selector
qname,,,,,
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
Employment,QID24,Which of the following best describes your cur...,False,MC,MAVR
Country,QID6,"Where do you live? <span style=""font-weight: b...",True,MC,DL
US_State,QID7,<p>In which state or territory of the USA do y...,False,MC,DL
UK_Country,QID9,In which part of the United Kingdom do you liv...,False,MC,DL
S2,QID190,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
EdLevel,QID25,Which of the following best describes the high...,False,MC,SAVR
Age1stCode,QID149,At what age did you write your first line of c...,False,MC,MAVR
LearnCode,QID276,How did you learn to code? Select all that apply.,False,MC,MAVR
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL
DevType,QID31,Which of the following describes your current ...,False,MC,MAVR
OrgSize,QID29,Approximately how many people are employed by ...,False,MC,MAVR
Currency,QID50,Which currency do you use day-to-day? If your ...,True,MC,SB
CompTotal,QID51,What is your current total compensation (salar...,False,TE,SL
CompFreq,QID52,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
S3,QID61,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Language,QID233,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
Database,QID262,Which <b>database environments </b>have you do...,False,Matrix,Likert
Platform,QID263,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
Webframe,QID264,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
MiscTech,QID265,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
ToolsTech,QID275,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
NEWCollabTools,QID274,Which <strong>development environments</strong...,False,Matrix,Likert
OpSys,QID71,What is the primary operating system in which ...,False,MC,SAVR
NEWStuck,QID243,What do you do when you get stuck on a problem...,False,MC,MAVR
S4,QID91,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
NEWSOSites,QID266,Which of the following Stack Overflow sites ha...,False,MC,MAVR
SOVisitFreq,QID100,How frequently would you say you visit Stack O...,False,MC,MAVR
SOAccount,QID101,Do you have a Stack Overflow account?,False,MC,MAVR
SOPartFreq,QID102,How frequently would you say you participate i...,False,MC,MAVR
SOComm,QID106,Do you consider yourself a member of the Stack...,False,MC,MAVR
NEWOtherComms,QID267,Are you a member of any other online developer...,False,MC,MAVR
NEWOtherCommsNames,QID268,Please name up to 5 other online developer com...,False,Matrix,Likert
S5,QID121,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Age,QID127,What is your age?,False,MC,MAVR
Gender,QID122,"Which of the following describe you, if any? P...",False,MC,MAVR
Trans,QID153,Do you identify as transgender?,False,MC,MAVR
Sexuality,QID136,"Which of the following describe you, if any? P...",False,MC,MAVR
Ethnicity,QID126,"Which of the following describe you, if any? P...",False,MC,MAVR
Accessibility,QID124,"Which of the following describe you, if any? P...",False,MC,MAVR
MentalHealth,QID125,"Which of the following describe you, if any? P...",False,MC,MAVR
S6,QID131,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
SurveyLength,QID132,How do you feel about the length of the survey...,False,MC,MAVR
SurveyEase,QID133,How easy or difficult was this survey to compl...,False,MC,MAVR

In [62]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"]
}

In [63]:
df_people = pd.DataFrame(people)
df_people #dataframe is a container for multiple series

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [64]:
df_people['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [65]:
type(df_people['email']) #series is a list of data, rows of a single column, 1D array

pandas.core.series.Series

In [66]:
df_people[['last', 'email']] #passed a list inside inner brackets
#no longer a series, it is now a filtered out dataframe

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [67]:
df_people.columns

Index(['first', 'last', 'email'], dtype='object')

In [68]:
# iloc access location using intger location
df_people.iloc[0] #access the first row, index of 0
#sets index to column name

df_people.iloc[[0,1]]

df_people.iloc[[0,1], 2] #gets email address of the first 2 rows

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [69]:
#loc search by index (label)
df_people.loc[0]
df_people.loc[[0,1], ['email', 'last']] #selects index 0 and 1's email and last name

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [70]:
df.columns

Index(['MainBranch', 'Employment', 'Country', 'US_State', 'UK_Country',
       'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode', 'YearsCodePro',
       'DevType', 'OrgSize', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [71]:
df['Country']

ResponseId
1                                                 Slovakia
2                                              Netherlands
3                                       Russian Federation
4                                                  Austria
5        United Kingdom of Great Britain and Northern I...
                               ...
83435                             United States of America
83436                                                Benin
83437                             United States of America
83438                                               Canada
83439                                               Brazil
Name: Country, Length: 83439, dtype: object

In [72]:
df['Country'].value_counts()
#counts num of responses for each answer

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Saint Kitts and Nevis                                       1
Dominica                                                    1
Saint Vincent and the Grenadines                            1
Tuvalu                                                      1
Papua New Guinea                                            1
Name: Country, Length: 181, dtype: int64

In [73]:
#grab specific row and col
# df.loc[0, 'Country']

In [74]:
# df.loc[[0,1,2], 'Country']

In [75]:
#slicing to grab multiple rows and cols
#slice is a single range, so no need for list
df.loc[0:2, 'Country']

ResponseId
1       Slovakia
2    Netherlands
Name: Country, dtype: object

In [76]:
df.loc[0:2, 'Country':'CompFreq']
#choose splicing rows and slice from what to what cols

,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq
ResponseId,,,,,,,,,,,,,
1,Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly
2,Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
# df_people.set_index('email', inplace=True)

#sets index, gives a unique identifier for the row

In [78]:
df_people

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [79]:
df_people.index
#lists all indexes

RangeIndex(start=0, stop=3, step=1)

In [80]:
# df_people.loc['CoreyMSchafer@gmail.com', 'last']

In [81]:
df_people.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [82]:
# df_people.reset_index(inplace=True)
df_people

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [83]:
schema_df.loc['Country', 'question']

#how to see the full question

'Where do you live? <span style="font-weight: bolder;">*</span>'

In [84]:
schema_df.sort_index()
#sorting indexes in ascending order, inplace=True if you want to perma change

,qid,question,force_resp,type,selector
qname,,,,,
Accessibility,QID124,"Which of the following describe you, if any? P...",False,MC,MAVR
Age,QID127,What is your age?,False,MC,MAVR
Age1stCode,QID149,At what age did you write your first line of c...,False,MC,MAVR
CompFreq,QID52,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
CompTotal,QID51,What is your current total compensation (salar...,False,TE,SL
Country,QID6,"Where do you live? <span style=""font-weight: b...",True,MC,DL
Currency,QID50,Which currency do you use day-to-day? If your ...,True,MC,SB
Database,QID262,Which <b>database environments </b>have you do...,False,Matrix,Likert
DevType,QID31,Which of the following describes your current ...,False,MC,MAVR
EdLevel,QID25,Which of the following best describes the high...,False,MC,SAVR
Employment,QID24,Which of the following best describes your cur...,False,MC,MAVR
Ethnicity,QID126,"Which of the following describe you, if any? P...",False,MC,MAVR
Gender,QID122,"Which of the following describe you, if any? P...",False,MC,MAVR
Language,QID233,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
LearnCode,QID276,How did you learn to code? Select all that apply.,False,MC,MAVR
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
MentalHealth,QID125,"Which of the following describe you, if any? P...",False,MC,MAVR
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
MiscTech,QID265,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
NEWCollabTools,QID274,Which <strong>development environments</strong...,False,Matrix,Likert
NEWOtherComms,QID267,Are you a member of any other online developer...,False,MC,MAVR
NEWOtherCommsNames,QID268,Please name up to 5 other online developer com...,False,Matrix,Likert
NEWSOSites,QID266,Which of the following Stack Overflow sites ha...,False,MC,MAVR
NEWStuck,QID243,What do you do when you get stuck on a problem...,False,MC,MAVR
OpSys,QID71,What is the primary operating system in which ...,False,MC,SAVR
OrgSize,QID29,Approximately how many people are employed by ...,False,MC,MAVR
Platform,QID263,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S2,QID190,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S3,QID61,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S4,QID91,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S5,QID121,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S6,QID131,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
SOAccount,QID101,Do you have a Stack Overflow account?,False,MC,MAVR
SOComm,QID106,Do you consider yourself a member of the Stack...,False,MC,MAVR
SOPartFreq,QID102,How frequently would you say you participate i...,False,MC,MAVR
SOVisitFreq,QID100,How frequently would you say you visit Stack O...,False,MC,MAVR
Sexuality,QID136,"Which of the following describe you, if any? P...",False,MC,MAVR
SurveyEase,QID133,How easy or difficult was this survey to compl...,False,MC,MAVR
SurveyLength,QID132,How do you feel about the length of the survey...,False,MC,MAVR
ToolsTech,QID275,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
Trans,QID153,Do you identify as transgender?,False,MC,MAVR
UK_Country,QID9,In which part of the United Kingdom do you liv...,False,MC,DL
US_State,QID7,<p>In which state or territory of the USA do y...,False,MC,DL
Webframe,QID264,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL

In [85]:
#filter rows
filt = df_people['last'] == 'Doe'

In [86]:
df_people[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [87]:
df_people.loc[filt, 'email']
#[rows, cols we want]

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [88]:
# &
filt = (df_people['last'] == 'Doe') & (df_people['first'] == 'John')
df_people.loc[filt, 'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [89]:
# |
filt = (df_people['last'] == 'Doe') | (df_people['first'] == 'John')
df_people.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [90]:
# ~
df_people.loc[~filt, 'email']

0    CoreyMSchafer@gmail.com
Name: email, dtype: object

In [91]:
high_salary = df['CompTotal'] > 70000
countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']

In [92]:
df.loc[high_salary, ['Country', 'LanguageHaveWorkedWith', 'CompTotal']]

,Country,LanguageHaveWorkedWith,CompTotal
ResponseId,,,
13,Germany,C;C++;Java;Perl;Ruby,71500.0
25,Germany,C++;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Ty...,72000.0
27,Switzerland,C++;Python,80000.0
30,Russian Federation,Delphi;Java;SQL,200000.0
37,United States of America,Assembly;C;Java;Kotlin;Rust,103000.0
...,...,...,...
83433,Canada,Ruby,106000.0
83434,Brazil,Java;JavaScript;Kotlin;Objective-C;TypeScript,80000.0
83435,United States of America,Clojure;Kotlin;SQL,160500.0
83436,Benin,NaN,200000.0
83438,Canada,Bash/Shell;JavaScript;Node.js;Python,90000.0

In [93]:
filt = df['Country'].isin(countries)
df.loc[filt, 'Country']

ResponseId
9          India
13       Germany
18        Canada
21       Germany
23         India
          ...
83416    Germany
83418      India
83425    Germany
83433     Canada
83438     Canada
Name: Country, Length: 19148, dtype: object

In [94]:
df['LanguageHaveWorkedWith']

ResponseId
1        C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
2                                    JavaScript;Python
3                             Assembly;C;Python;R;Rust
4                                JavaScript;TypeScript
5                       Bash/Shell;HTML/CSS;Python;SQL
                             ...
83435                               Clojure;Kotlin;SQL
83436                                              NaN
83437                               Groovy;Java;Python
83438             Bash/Shell;JavaScript;Node.js;Python
83439           Delphi;Elixir;HTML/CSS;Java;JavaScript
Name: LanguageHaveWorkedWith, Length: 83439, dtype: object

In [95]:
#setting string in that col if it contains python
filt = df['LanguageHaveWorkedWith'].str.contains('Python', na=False)
df.loc[filt, 'LanguageHaveWorkedWith']

ResponseId
2                                        JavaScript;Python
3                                 Assembly;C;Python;R;Rust
5                           Bash/Shell;HTML/CSS;Python;SQL
6        C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...
10                                              C++;Python
                               ...
83430               HTML/CSS;PHP;PowerShell;Python;SQL;VBA
83431          APL;Clojure;LISP;Python;Ruby;SQL;TypeScript
83432    C#;Dart;HTML/CSS;Java;JavaScript;Kotlin;Node.j...
83437                                   Groovy;Java;Python
83438                 Bash/Shell;JavaScript;Node.js;Python
Name: LanguageHaveWorkedWith, Length: 39792, dtype: object

In [96]:
#change col name
# df_people.columns = ['first_name', 'last_name', 'email']
df_people

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [97]:
#use list comprehensions to change uppercase to lowercase
df_people.columns = [x.lower() for x in df_people.columns]
df_people

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [98]:
# replace
df_people.columns = df_people.columns.str.replace(' ', '_')
df_people

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [99]:
#rename/update cols
df_people.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)
df_people

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [100]:
#update values
df_people.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']
df_people

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith      JohnSmith@email.com

In [101]:
#change data back
df_people.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']
df_people

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [102]:
df_people.loc[2, 'last']  = 'Smith'
df_people

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [103]:
df_people.at[2, 'last']  = 'Doe'
df_people

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [105]:
filt = df_people['email'] == 'JohnDoe@email.com'
df_people[filt]['last']

2    Doe
Name: last, dtype: object